:host {
    display: flex;
    flex-wrap: wrap;

    .product-item {
        display: flex;
        flex-direction: column;
        width: 225px;
        overflow: hidden;
        box-sizing: border-box;
        padding: 0 10px;
        margin-bottom: 40px;

        &__img {
            height: 160px;
            max-height: 160px;
            text-align: center;

            img {
                height: inherit;
            }
        }

        &__button {
            width: 100%;
        }

        &__desc {
            flex-grow: 1;
        }

        &__price {
            text-align: center;
            font-size: 1.5rem;
        }
    }
}