:host {
    display: flex;
    flex-wrap: wrap;

    & > div {
        display: flex;
        flex-direction: column;
        width: 225px;
        overflow: hidden;
        box-sizing: border-box;
        padding: 0 10px;
        margin-bottom: 40px;

        & > .productImg {
            height: 160px;
            max-height: 160px;
            text-align: center;

            img {
                height: inherit;
            }
        }

        & > button {
            width: 100%;;
        }

        & > .description {
            flex-grow: 1;
        }

        & > .price {
            text-align: center;
            font-size: 1.5rem;
        }
    }
}