<mat-toolbar class="footer">
    <div class="footer--column">
        <h3>Conocénos</h3>
        <ul>
            <li><a href="#">Trabajar en Amazon</a></li>
            <li><a href="#">Informacion corporativa</a></li>
            <li><a href="#">Departamento de prensa</a></li>
            <li><a href="#">Amazon Science</a></li>
        </ul>
    </div>
    <div class="footer--column">
        <h3>Gana dinero con nosotros</h3>
        <ul>
            <li><a href="#">Vender en Amazon</a></li>
            <li><a href="#">Suministro para Amazon</a></li>
            <li><a href="#">Protege y desarrolla tu marca</a></li>
            <li><a href="#">Vender en Amazon Handmade</a></li>
            <li><a href="#">Publica tu libro en Kindle</a></li>
            <li><a href="#">Programa de afiliados</a></li>
            <li><a href="#">Anuncia tus productos</a></li>
        </ul>
    </div>
    <div class="footer--column">
        <h3>Podemos ayudarte</h3>
        <ul>
            <li><a href="#">Devolver o reemplazar productos</a></li>
            <li><a href="#">Gestionar contenido y dispositivos</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
    </div>
    <div class="footer--column">
        <h3>Métodos de pago</h3>
        <ul>
            <li><a href="#">Tarjetas de crédito y débito</a></li>
            <li><a href="#">Tarjetas de regalo</a></li>
            <li><a href="#">Pago en efectivo</a></li>
            <li><a href="#">Pago en meses</a></li>
            <li><a href="#">Amazon Cash</a></li>
        </ul>
    </div>
</mat-toolbar>